// COSTUMIZE BOOTSTRAP NAVBAR

.navbar{
    font-size: 1.7rem;
    background-color: $color-primary;
    z-index: 50;
    .navbar-collapse{
        ul.navbar-nav{
            li{
                a{
                    position: relative;
                    color: white;
                    &:after{
                        content: '';
                        position: absolute;
                        left: 45%;
                        bottom: 0;
                        width: 20%;
                        height: .3rem;
                        opacity: 0;
                        background-color: $color-gray-light;
                        transition: all .3s ease-in;
                    }
                    &:hover:after{
                        transform: scaleX(5);
                        opacity: 1;
                    }
                }
            }
        }
    }
}

// .navigation{
//     padding:1.5rem 2rem;
//     position: fixed;
//     display: flex;
//     align-items: center;
//     background-color:$color-primary;
//     font-size: 1.7rem;
//     z-index: 4;
//     width: 100%;
//     .nav-item{
//         position: relative;
//         margin-right: 2rem;
//         color:$color-gray-light;
//         &:after{
//             content: '';
//             position: absolute;
//             left: 45%;
//             bottom: 0;
//             width: 20%;
//             height: .3rem;
//             opacity: 0;
//             background-color: $color-gray-light;
//             transition: all .3s ease-in;

//         }
//         &:hover{
//             text-decoration: none;
//         }
//         &:hover:after{
//             transform: scaleX(5);
//             opacity: 1;
//         }
//     }
// }
