// /files import
@import 'variables';
@import 'navigation';
@import 'login';
@import 'register';
*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
html,body {
    font-size:62.5%;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
}
body{
    
    background-color:$color-general-bg; 
}
body section{
    width: 100%;
}
/* HOME PAGE */
.home{
    width: 100vw;
    height: 100vh;
    background-image: url(../images/home_womanDog.svg);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    padding: 1.5rem;
}
.home__text{
    width: 30%;
    height: 50%;
    margin-top:10%;
    padding: 1.5rem;
}
.home__button{
    position: relative;
    height: 3.5rem;
    width: 12rem;
    padding: .4rem auto;
    font-size: 1.6rem;
    border:.2rem solid $color-primary-border;
    box-shadow: .2rem .1rem .4rem rgba(108, 99, 255,0.7); /* color-primary*/

}
.home__button a {
    position: relative;
    z-index: 1;
    display: block;
    padding-top: .3rem;
    width: 100%;
    height: 100%;
    color: #000;

}
.home__button a:after{
    @include buttonAfter;
}
.home__button:hover > a {
    text-decoration: none;
    color:$color-initial;
}
.home__button:hover > a:after {
    @include buttonHoverAfter;
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* BLOGS PAGE */
/* HEADER */
.content {
    font-size:2rem;
    padding:1rem 2rem;
    border-radius: 2rem;
    overflow: hidden;
}
.items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 2rem;
    box-shadow: .3rem .3rem .7rem rgba($color-gray-shadow,0.7);

}
.items .item{
    margin: 3rem;
    padding:5rem;
    border-radius: 2rem;
    position: relative;
    height:40rem;
    box-shadow: .3rem .3rem .7rem rgba($color-gray-shadow,0.7);
}
.item .blog__image img{
    width:100%;
    height:50rem;
    border-radius: 2rem;

}
.items .item .blog__image{
    position: absolute;
    width: 50%;
    height: 50%;
    left: -2.5rem;
    top:25%;
}
.items .item .blog__image img{
    width: 100%;
    height: 100%;
}
.item .blog__content{
    font-size:1.6rem;
    position: absolute;
    padding:1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 50%;
    height: 50%;
    right: 0;
    top:20%;
}
.blog__content .header{
    text-transform: capitalize;
    font-size:1.7rem;
    color:black;
    text-decoration: none;
    font-weight: 600;
    margin-left:-1rem;
}
.item .blog__extra {
    display: flex;
    align-items: flex-end;
}
.item .blog__extra a{
    font-size:1.6rem;
    padding:.5rem;
    
}
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* SHOW ROUTE*/
@import 'blogView';
@import 'new_edit';

