<% include ./partials/header %>
<section class="home">  
    <div class="home__text ">
        <h1 class="display-1 home__welcomeText"> Share stories about your pets </h1>
        <button class="home__button mt-5">
            <a href="#" class="home__button--link"> GET STARTED</a>
        </button>     
    </div>
</section>
<% include ./partials/footer %>