<% include ./partials/header %>
<section class="form ">
    <% include ./partials/messages %>
    <div id="login-form">
        <h1 id="form-header">Sign In <i class="fas fa-cat"></i></h1>
        <form action="/login" method="POST"  class="login-content">
            <label for="username">Username</label>
            <input type="text" name="username" minlength="6">
            <label for="password">Password</label>
            <input type="password" name="password" minlength="6" >
            <button>Login</button>
        </form>
    </div>
</section>
<% include ./partials/footer %>