<% include ./partials/header %>

<div class="container new-form">
    <h1 class="display-2 header">New blog</h1>
    <form action="/blogs" method="POST" class="form container">
        <div class="field">
            <label for="">Title</label>
            <input type="text" name="blog[title]" placeholder="title">

        </div>
        <div class="field">
            <label for="">Image Url</label>
            <input type="text" name="blog[image]" placeholder="image url">

        </div>
        <div class="field">
            <label for="">Body</label>
            <textarea name="blog[body]" required></textarea>
        </div>
        <input type="submit" class="btn btn-dark rounded-pill">
    </form>
</div>
<% include ./partials/footer %>
