*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
html,body {
    font-size:62.5%;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
}
body{
    
    background-color:rgb(241, 238, 238); 
}
body section{
    width: 100%;
    height: 93.2%;
    background-image: url(../images/home1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: hidden;

}
/* LOGIN FORM */
#form-header{
    font-size: 3.5rem;
    text-align: center;
}
#login-form {
    padding: 10px;
    font-size: 1.7rem;
    width: 50%;
    height: 50%;
    background-color:rgba(41,43,44,0.7);
    border-radius: 20px;
    position: relative;
    margin:10px auto;

}
#login-form h1 {
    color: inherit;
}

/* NAVIGATION */
nav {
    font-size:1.6rem;
}
nav > a i {
    font-size:1.7rem;
}
/* HEADER */
.container > h1{
    font-weight: 600;
    margin:3rem;

}
.content {
    border:2px solid #000000;
    font-size:2rem;
    padding:1rem 3rem;
    border-radius: 2rem;
    overflow: hidden;
}
.items .item{
    margin: 3rem;
    border:2px solid black;
    padding:5rem;
    border-radius: 2rem;
}
.item .blog__image img{
    width:100%;
    height:50rem;
    border-radius: 2rem;

}
.item .blog__content{
    font-size:1.6rem;

}
.blog__content .header{
    font-size:1.7rem;
    color:black;
    text-decoration: none;
    font-weight: 600;
    margin-left:-1rem;
}
.item .blog__description{
    font-size:1.6rem;
}
.item .blog__content .header{
    font-size:1.6rem;

}
.item .blog__extra a{
    font-size:1.6rem;
    padding:.5rem;
    width:15rem;
}


/* NEW */

.form{
    border:2px solid black;
    border-radius: 2rem;
    font-size:1.7rem;
    padding:3rem;
}
input, label{
    display: block;
}
.form input[type="submit"]{
    font-size:1.7rem;
    margin-left: 1.4rem;

}
.form .field{
    padding: 1.5rem;
}
.field input[type="text"]{
    /* margin-left:7rem; */
    width:40%;
    padding:.7rem;
    border-radius: .8rem;
}

.field input[type="text"]:focus{
    /* margin-left:7rem; */
    outline: none;
    border-bottom: 2px solid #2b2a2a;

    box-shadow:0 .5rem 2rem rgb(192, 191, 191);
    /* background-color: black; */
}
.field textarea{
    width:40%;
    padding:1rem;
    border-radius: .8rem;
}

.field textarea:focus{
    outline: none;
    border-bottom: 2px solid #2b2a2a;
    box-shadow:0 .5rem 2rem rgb(192, 191, 191)
}

/* SHOW ROUTE*/
.content{
    margin-bottom: 2rem;
    padding:3rem;
}
.item .item__image{
    width:100%;
    height:50rem;
    border-radius: 2rem;
}
.item a{
    font-size:1.6rem;
}
.item a{
    font-size:1.6rem;
    padding: 1rem;
    width:10rem;

}
.item form button{
    font-size: 1.6rem;
    padding:1rem;
    width:10rem;
}
/*  */
/* RESPONSIVENESS */

    @media screen and (max-width: 500px) {
    }

    @media screen and (max-width: 768px) {
        .item .blog__image{
            overflow: hidden;
        }
        .item .blog__image img{
            width:100%;
            height:20rem;
        }

    }
  
    @media screen and (min-width: 769px) and (max-width: 1170px) {
        .item .blog__image{
            overflow: hidden;
        }
        .item .blog__image img{
            width:100%;
            height:35rem;
        }
    }
    @media screen and (min-width: 1171px) {
    }